#projects {
    display: none;
    background-color: rgb(233, 233, 233);
    height: calc(100vh - 60px);
    overflow-y: auto;
}

.project-section__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.projects__title {
    width: 100%;
    height: auto;
    margin-top: 30px;
    font-size: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.projects__projects-container {
    width: 90%;
    height: auto;
    margin: 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0 solid;
}

.projects-container__project {
    width: 300px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    border: 0 solid;
    border-radius: 5px;
    background-color: rgb(225, 225, 225);
    box-shadow: 2px 5px 7px gray;
}

.project__img-container {
    width: 100%;
    height: 200px;
    padding: 10px;
}

.project__img-container img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.project__title {
    width: 100%;
    height: auto;
    padding: 20px 0;
    font-size: 27px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.project__description {
    width: 80%;
    height: auto;
    text-align: center;
    font-size: 15px;
}

.project__links-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.project__link {
    font-size: 30px;
    margin: 20px 15px;
}

@media screen and (min-width:768px) {
    .projects__title {
        font-size: 45px;
    }

    .projects__projects-container {
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        border: 0 solid;
    }

    .projects-container__project {
        width: 300px;
        height: 420px;
        margin: 30px 10px;
    }

    .project__img-container {
        height: 220px;
        padding: 7px;
    }
    
    .project__title {
        font-size: 30px;
    }
    
    .project__description {
        width: 85%;
        font-size: 17px;
    }
    
    .project__link {
        font-size: 28px;
    }
}

@media screen and (min-width:1140px) and (min-height:695px) {
    .projects__projects-container {
        width: 80%;
        margin: 30px 0;
    }

    .projects-container__project:hover {
        transform: scale(0.99);
        transition: 0.1s;
    }

    .project__link:hover {
        transform: scale(0.95);
        transition: 0.1s;
    }
} 